
body{

background-image: url(healthy.jpg);
background-size: cover;
margin: auto;

}
*
{
  padding-bottom: :1000px;
  margin:0;
  box-sizing: border-box;
}
body{
  background-image: url(healthy.jpg);
  background-size:cover;
  background-position: center;
  font-family: sans-serif;
}
.menu-bar {
  background: rgb(0,100,0);
  text-align:center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color:#fff;
}
.menu-bar ul li{
width:120px;
margin:15px;
padding: 15px;
}
.menu-bar ul li a{
text-decoration: none;
color: #fff;
}
.active,.menu-bar ul li:hover{
background: #2bab0d;
border-radius: 3px;
}
.log{
justify-content: flex-end;
align-items: flex-end;
}
.navbar navbar-light bg-light{
  align-items: center;
  
}
